*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
app/debug
app/release
*.jks

# IntelliJ
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
/googlePlay_8/build



