<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.jiangxin.droiddemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".ApplicationExt"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tv.recycleview.RecycleViewTv"></activity>
        <activity android:name=".opengl.blur.OpenGlBlurActivity" />
        <activity android:name=".opengl.matrix.OpenGLMatrixActivity" />
        <activity android:name=".opengl.ball.BallActivity" />
        <activity
            android:name=".opengl.transform.TransformActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".opengl.matrix.SimpleActivity" />
        <activity android:name=".layout.ContraintLayoutActivity" />
        <activity android:name=".layout.VariousLayoutActivity" />
        <activity android:name=".service.VariousServiceActivity" />
        <activity android:name=".roundcorner.draweeview.DraweeViewActivity" />
        <activity android:name=".roundcorner.VariousRoundCornerActivity" />
        <activity android:name=".roundcorner.viewoutlineprovider.ViewOutlineProviderActivity" />
        <activity android:name=".roundcorner.cardview.CardViewActivity" />
        <activity android:name=".roundcorner.clippath.ClipPathActivity" />
        <activity android:name=".roundcorner.gradientdrawable.GradientDrawableActivity" />
        <activity android:name=".roundcorner.xmlshape.XmlShapeActivity" />
        <activity android:name=".animation.OverlayAnimationActivity" />
        <activity android:name=".layout.SimpleLayoutActivity" />
        <activity android:name=".animation.LottieAnimationActivity" />
        <activity android:name=".animation.SvgaAnimationActivity" />
        <activity android:name=".opengl.rajawali.RajawaliDemoActivity" />
        <activity android:name=".opengl.pbuffer.PBufferActivity" />
        <activity android:name=".opengl.VariousRenderersActivity" />
        <activity android:name=".opengl.book.texture.MipMap2D" />
        <activity android:name=".opengl.book.fragshader.MultiTexture" />
        <activity android:name=".opengl.book.advanced.ParticleSystem" />
        <activity android:name=".opengl.book.texture.SimpleTexture2D" />
        <activity android:name=".opengl.book.texture.SimpleTextureCubemap" />
        <activity android:name=".opengl.book.vertexshader.SimpleVertexShader" />
        <activity android:name=".opengl.book.texture.TextureWrap" />
        <activity android:name=".opengl.VariousOpenGLDemosActivity" />
        <activity android:name=".animation.view.CustomAnimationActivity" />
        <activity android:name=".animation.FrameAnimationActivity" />
        <activity android:name=".animation.VectorDrawableAnimatorActivity" />
        <activity android:name=".animation.PhysicsAnimationActivity" />
        <activity android:name=".service.commonservice.CommonServiceActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".service.intentservice.IntentServiceActivity" /> <!-- 由于PowerManager的限制，SCREEN_ON和SCREEN_OFF两个action必须要通过代码注册的方式才能使用，这里使用USER_PRESENT捕获解锁广播 -->
        <activity android:name=".service.localbinder.LocalBinderActivity" />
        <activity android:name=".service.messanger.MessengerActivity" />
        <activity android:name=".service.aidl.AIDLActivity" />
        <activity
            android:name=".activity.listview.ListViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.listview.swipemenulistview.SlideListViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.listview.GridViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.listview.ExpandableListActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.listview.ViewFlipperActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.DialogActivity" />
        <activity android:name=".activity.BlurActivity" />
        <activity android:name=".activity.RippleActivity" />
        <activity android:name=".animation.VariousAnimationActivity" />
        <activity android:name=".animation.view.AlphaAnimationActivity" />
        <activity android:name=".animation.view.ScaleAnimationActivity" />
        <activity android:name=".animation.view.TranslateAnimationActivity" />
        <activity android:name=".animation.view.RotateAnimationActivity" />
        <activity android:name=".animation.view.AnimationSetActivity" />
        <activity android:name=".animation.InterpolatorTestActivity" />
        <activity android:name=".animation.PropertyAnimatorActivity" />
        <activity android:name=".animation.activity.TransitionSecondActivity" />
        <activity android:name=".animation.activity.TransitionFirstActivity" />
        <activity android:name=".animation.layout.LayoutAnimationAndLayoutTransitionActivity" />
        <activity android:name=".animation.layout.GridLayoutAnimationActivity" />
        <activity android:name=".animation.layout.LayoutTransitionByXmlActivity" />
        <activity android:name=".activity.DecorViewActivity" />
        <activity android:name=".activity.ForbidScreenShotActivity" />
        <activity
            android:name=".activity.AppListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignaturesActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.VariousNotificationActivity" />
        <activity
            android:name=".activity.ScaleTextActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=".testLaunchMode" />
        <activity android:name=".activity.SpannableStringActivity" />
        <activity android:name=".activity.QuickSearchBoxActivity">
            <intent-filter>
                <action android:name="edu.jiangxin.droiddemo.action.Search" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".quickshow.activity.ShowInfoActivity">
            <intent-filter>
                <action android:name="edu.jiangxin.droiddemo.action.SHOWINFO" />

                <category android:name="android.intent.category.SHOWINFO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ShortcutTargetActivity" />
        <activity android:name=".activity.ImageViewActivity" />
        <activity android:name=".activity.AudioFxOscillogramActivity" />
        <activity android:name=".activity.AudioFxHistogramActivity" /> <!-- 只有当这个Activity是处于任务栈根部的时候android:excludeFromRecents="true"才会起作用，这个属性通常只于android.intent.category.LAUNCHER或者与singleTask/singleInstance一起使用 -->
        <activity android:name=".activity.NetMusicActivity" />
        <activity android:name=".activity.VideoViewActivity" />
        <activity android:name=".activity.JNIActivity" />
        <activity android:name=".activity.ActivityTrackerActivity" />
        <activity android:name=".activity.RingtoneSettingActivity" />
        <activity android:name=".activity.RingtoneSetting1Activity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.ThemeActivity" />
        <activity android:name=".activity.SpinnerActivity" />
        <activity android:name=".fragment.FragmentActivity" />
        <activity android:name=".fragment.FragmentTest1Activity" />
        <activity android:name=".saf.SAFActivity" />
        <activity android:name=".mediastore.MediaStoreDemoActivity" />
        <activity android:name=".mediastore.MyPhoto" />
        <activity android:name=".mediastore.MyMusic" />
        <activity android:name=".mediastore.MyMovie" />
        <activity android:name=".activity.ThreadDemoActivity" />
        <activity android:name=".activity.LoaderDemoActivity" />

        <provider
            android:name=".provider.QuickSearchBoxProvider"
            android:authorities="edu.jiangxin.droiddemo.SEARCH_AUTHORITY"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".broadcastreceiver.NetStatReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceiver.ScreenOnReceiver">
            <intent-filter android:priority="90000">
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.commonservice.CommonService"
            android:exported="true"
            android:process=":remote" />
        <service
            android:name=".service.intentservice.IntentServiceImpl"
            android:exported="true"
            android:process=":remote" />
        <service
            android:name=".service.aidl.AIDLService"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="edu.jiangxin.droiddemo.service.aidl" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name=".service.localbinder.LocalBinderService" />
        <service
            android:name=".service.messanger.MessengerService"
            android:process=":remote" />
        <service
            android:name=".activity.TrackerService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <activity
            android:name=".tools.mortgagecalc.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".tools.mortgagecalc.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tools.mortgagecalc.ResultCombinationActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>